<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-18 col-md-9">
				<h6>Ulima</h6>
				<p class="text-justify">Grupo de Apuestas Universidad de Lima</p>
			</div>
			<div class="col-xs-6 col-md-3">
				<h6>Quick Links</h6>
				<ul class="footer-links">
					<li><a href="/">Reglas</a></li>
					<li><a href="/">Terminos & Condiciones</a></li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="container">
			<div class="row mb-4">
				<p class="copyright-text">
					Copyright Universidad de Lima - Programación Web &copy; 2021-2 ©.
				</p>
			</div>
		</div>
	</div>
</footer>