<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-18 col-md-9">
				<h6>About</h6>
				<p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquam tempora vero quaerat eum quos nobis possimus repellendus, in sed obcaecati! Quidem distinctio nam voluptas officiis culpa non dolor ipsa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis alias voluptas tempora voluptatum laboriosam deleniti dignissimos sint? Animi, repellendus totam eaque laudantium architecto reiciendis voluptatem nisi suscipit ipsam natus quo?</p>
			</div>

			<div class="col-xs-6 col-md-3">
				<h6>Quick Links</h6>

				<ul class="footer-links">
					<li><a href="http://scanfcode.com/about/">About Us</a></li>

					<li><a href="http://scanfcode.com/contact/">Contact Us</a></li>

					<li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>

					<li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>

					<li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
				</ul>
			</div>
		</div>
		<hr>

		<div class="container">
			<div class="row mb-4">
				<p class="copyright-text">
					Copyright &copy; 2021 All Rights Reserved by <a href="#">Scanfcode</a>.
				</p>
			</div>
		</div>
	</div>
</footer>
