<!DOCTYPE html>
<html>
    <head>
        <title>Reglas</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>
        <div class="mb-3">
            <!-- Banner -->
            <img class="img-fluid" src="/assets/images/Yup/terminos y condiciones.PNG"/>
        </div>
        <div>
            <h1>Reglas generales sobre apuestas</h1>
            <p>Las apuestas no serán válidas hasta que se validen y aparezcan en el historial de apuestas del jugador. En caso de incertidumbre con respecto a la validez de una apuesta, el cliente debe comprobar las apuestas abiertas (pendientes) o ponerse en contacto con el equipo de soporte.

                A menos que se haya aceptado por error, una vez aceptada, la apuesta será válida y no se podrá cancelar. El jugador deberá asegurarse de que los detalles de las apuestas colocadas sean correctos. En ningún caso, aceptaremos ninguna responsabilidad por errores (percibidos o reales), que surjan ya sea de los errores especificados en "Errores" a continuación o por cualquier otra razón, como enumeración incorrecta de los objetos de cuotas/apuestas, entre otras.
                
                En caso de que surjan disputas sobre la aceptación (o la falta de aceptación) de cualquier transacción de la cuenta del jugador, el registro de transacciones de la base de datos será el que decidirá sobre este tipo de asuntos.</p>
            <h2>Resultados y valoración de apuestas</h2>
            <p>En el caso de todos los deportes, las apuestas se valorarán una vez que la entidad que rige el evento publique el resultado oficial inmediatamente después de haber terminado el partido o evento. Se pueden usar los siguientes nombres para referirse a esto: señal de pesaje, presentación del podio o cualquier terminología similar. Cualquier corrección o modificación posterior a este resultado no se tendrá en cuenta para los fines de valoración.

                Nos reservamos el derecho a aplicar una reducción por empate (dead heat) en cualquier evento en donde se especifique más de un ganador, teniendo cada deporte individual reglas de valoración propias.
                
                Las apuestas se valorarán siempre a las cuotas fraccionales. Cuando un cliente decide visualizar las cuotas como decimales, las cuotas se redondearán a dos lugares decimales. Esto puede hacer que las cuotas mostradas en el cupón de apuestas difieran ligeramente de las verdaderas cuotas fraccionales.</p>
            <h3>Apuestas sospechosas</h3>
            <p>"Apuestas sospechosas" se refiere al caso en donde contemos con motivos razonables para creer que una apuesta o un número de apuestas se han realizado bajo circunstancias sospechosas. Esto incluye, entre otras:

                Cuando existe una frecuencia excesiva o un patrón altamente inusual de apuestas (al compararse con la norma en las apuestas) realizadas en el mismo pronóstico en un periodo corto.
                Cuando existe una frecuencia excesiva o un patrón altamente inusual de apuestas realizadas en los mismos pronósticos y cuando la probabilidad teórica de ganancias de dichos pronósticos en el momento de las apuestas, sobre la base de las cuotas ofrecidas en el momento de la realización de la apuesta, es altamente inconsistente con la probabilidad teórica de ganancias que tienen los mismos pronósticos al calcularse usando sus precios iniciales.
                Cuando la integridad de uno o más eventos se ha puesto en evidencia, incluyendo, entre otros, cuando uno (o más) participantes en un evento muestra un comportamiento inusual que creemos razonablemente que tú, o alguien con quien tienes relación, conoce en el momento de realizar la apuesta, y que dicha información se ocultó al público en general para obtener una ventaja deshonesta en cualquier apuesta realizada en dicho evento.
                Cuando tenemos motivos razonables para sospechar que una apuesta o serie de apuestas conectadas no fueron realizadas por ti físicamente, sino por medios robóticos o automatizados, o que cualquier otra manera que no sea que el responsable de la apuesta la haya realizado manualmente a través de su cuenta.
                Cuando creemos razonablemente que has usado factores o influencias externas injustas conectadas con los eventos en los que realizas las apuestas.
                Cuando sospechamos razonablemente de que has abierto cuentas duplicadas, o que segundas o posteriores cuentas están bajo el control común de tu cuenta, con vistas a ocultar el verdadero valor, naturaleza o patrón de apuestas realizadas por ti o en tu nombre. Esto es aplicable incluso si las segundas o posteriores cuentas se abren con nombres diferentes.
                Cuando creamos razonablemente que estás actuando en conexión con otros o que estás actuando de manera que no sea en tu propio nombre.
                Cuando creamos razonablemente que has realizado apuestas desde una ubicación o un dispositivo que no sea la ubicación o el dispositivo que dices que usaste para realizar una apuesta.
                En caso de cualquiera de las actividades enumeradas anteriormente, y sin restringir nuestra capacidad para buscar otras compensaciones disponibles, pueden tomarse las siguientes acciones, dependiendo de las circunstancias:
                
                Solicitar información adicional de tu parte según sea razonablemente necesario para investigar si las acciones constituyen una apuesta sospechosa.
                Suspender o retener el pago de cualquier monto (o cualquier parte de él) hasta que recibamos pruebas satisfactorias de tu parte que determinen que una apuesta no es una apuesta sospechosa. Por ejemplo, cuando sospechemos que una apuesta puede haberse realizado robóticamente o por medios automáticos, podemos pedirte que nos proporciones pruebas razonables de que cada apuesta la realizaste manualmente a través de tu cuenta. Además reconoces y aceptas que nos reservamos el derecho, a nuestra única discreción, de recopilar y procesar cualquier información en conexión con tus patrones de apuestas, datos personales, depósitos de fondos y cualquier otra información o solicitudes relacionadas que nos ayuden a investigar cualquier sospecha de incumplimiento de estos términos.
                Suspender o retener el pago de cualquier monto (o cualquier parte de él), normalmente durante no más de 30 días, pero cuando sea relevante por el periodo más largo que razonablemente necesitemos (por ejemplo, mientras nosotros, cualquier entidad reguladora de un deporte, regulador de apuestas, autoridad de cumplimiento de las leyes o cualquier tercero esté realizando cualquier investigación).
                Anular una apuesta, incluyendo apuestas múltiples, antes del evento. Cuando sea posible, te comunicaremos con antelación que la apuesta o las apuestas se ha/han anulado antes de que comience el (primer) evento de la(s) apuesta(s).
                Calcular cualquier ganancia sobre la base del precio inicial del evento objeto de la apuesta. Te comunicaremos con antelación acerca de cualquier apuesta que se valorará a su precio inicial, cuando sea posible.
                Cuando haya una frecuencia excesiva o un patrón inusual de apuestas en los mismos pronósticos en un corto lapso de tiempo (y cuando tengamos motivos razonables para sospechar de que las apuestas son apuestas conectadas), limitar el pago de las ganancias. Cuando sea necesario, dicha limitación se aplicará a múltiples cuentas hasta el pago máximo para apuestas individuales en cualquier mercado o mercados.
                Cuando tengamos motivos razonables para creer que has participado o estás conectado con cualquier tipo de apuesta sospechosa, podremos usar todas las medidas razonables para investigar, incluyendo el uso de múltiples prácticas de detección de conspiración, apuestas sospechosas, fraude y trampas que se usan en la industria de las apuestas.
                Nos reservamos el derecho a rescindir una cuenta si sospechamos razonablemente de cualquiera de las actividades descritas en conexión con esa cuenta.
                Cuando consideremos que una apuesta es anulada (o la declaremos como anulada) antes de un evento, cualquier suma deducida de tu cuenta con respecto a dicha apuesta se acreditará en tu cuenta.
                Nos reservamos el derecho a recuperar de tu cuenta cualquier pérdida que suframos que esté directa o indirectamente conectada con prácticas de apuestas sospechosas. Este derecho se aplica sin perjuicio de cualquier otro derecho (incluyendo derechos de hecho) que podamos tener en tu contra, ya sea en virtud de los Términos de uso o de otra manera.
                No seremos responsables bajo ninguna circunstancia por ninguna pérdida que tú o cualquier otra persona pueda tener como resultado del comportamiento descrito en esta sección. También nos reservamos el derecho a tomar cualquier otra acción en caso de apuestas sospechosas, pero no estamos obligados a hacerlo.
                Como siempre, al ejercer nuestros derechos lo haremos de manera que sea justa para ti y cualquier otro usuario.  Para obtener más información, consulta el Artículo 5 de nuestros Términos del servicio.
                
                
                Somos miembro de la Asociación Internacional por la Integridad en las Apuestas (International Betting Integrity Association, IBIA), una organización sin fines de lucro que supervisa los patrones de juego irregulares y las posibles situaciones de manipulación de eventos.  Por ser miembro, utilizamos de forma íntegra su sistema de alerta temprana, que está orientado a identificar cualquier tipo de comportamiento de tales características en el juego.
                
                En caso de que recibamos una advertencia, tendremos, a nuestra absoluta discreción, derecho a lo siguiente:
                
                (i) suspender la oferta de un evento o una serie de eventos en cualquiera de sus mercados; y
                
                (ii) demorar o retener el pago correspondiente a un evento o una serie de eventos en cualquiera de sus mercados, hasta que la federación deportiva pertinente constate la integridad de tal evento o serie de eventos a través de la IBIA.
                
                Asimismo, en caso de que la IBIA verifique que se ha ejercido manipulación en un evento o una serie de eventos, conjuntamente con los organismos gubernamentales que regulan las actividades deportivas pertinentes, tendremos, a nuestra absoluta discreción, derecho a suspender las apuestas realizadas en dichos eventos, ya sea que pertenezcan a un individuo al que la IBIA haya identificado como que haya manipulado información o conocimientos confidenciales sobre apuestas o que hayan sido realizadas por cualquier otro individuo que, según nuestro criterio razonable, actúe conjuntamente o esté involucrado de alguna manera con el primer individuo.</p>

        </div>
        <a class="btn btn-success" href="/">Volver</a>
        <%- include('footer') %>
        <script src="PROYECTO-PW/index.js"></script>
    </body>
</html>