<!DOCTYPE html>
<html>
    <head>
        <title>Reglas</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <%- include('menu') %>
        <div class="mb-3">
            <!-- Banner -->
            <img class="img-fluid" src="/assets/images/Yup/terminos y condiciones.PNG"/>
        </div>
        <div>
            <p>El sitio www.inkabet.com y/o www.inkabet.pe es operado por Media Entertainment N.V. conforme a las Leyes de Curazao, 
                en virtud de la sub-licencia otorgada por la empresa Curazao Interactive Licensing N.V. (C.I.L.) conforme a la Master Gaming License N°5536/JAZ.
            </p>

            <p>Al completar el Formulario en la Sección “Registrarse” y dar click en la sección “He leído y acepto los 
            Términos y condiciones de la página" Términos y condiciones“ y en la sección “Doy mi consentimiento para el procesamiento de 
            mis datos personales para usar este servicio” Políticas de privacidad y luego hacer click en el cuadro “Regístrate” el usuario o 
            cliente acepta plenamente los términos y condiciones detallados en este Acuerdo así como el procesamiento de sus datos personales y nuestra 
            política de privacidad.</p>


            <h1>GENERALES</h1>

            <ul>
                <h2>DISPOSICIONES GENERALES.-</h2>
                <li>UL APUESTAS (en adelante “la Casa de Apuestas”) recoge apuestas en deportes y otros eventos (en adelante “eventos”). La Casa de Apuestas se reserva el derecho de anular cualquier apuesta hecha por un cliente que haya actuado en contra de este Reglamento. También, Inkabet se reserva el derecho de modificar los acápites de estos términos en base a normativas de juego y licencia que posee.</li>
                
                
                <li>ABRIR UNA CUENTA</li>
                <ul>
                    <li>Sólo pueden registrarse y operar los mayores de 18 años. Es responsabilidad del cliente o usuario asegurarse de que las apuestas por internet están permitidas en su país. También es responsabilidad del cliente informarse sobre el modo de declarar sus ganancias en su país.
                        Sin perjuicio de ello, está prohibido registrarse y jugar a cualquier persona residente en la República Popular China, Cuba, Corea del Norte, Laos, Vietnam, Afganistán, Estados Unidos de América y cualquier país de la Unión Europea.</li>
                    <li>La Casa de Apuestas confía plenamente en la información facilitada por el cliente en el registro y no se hace responsable en caso de que ésta sea errónea.</li>    
                    
                    <li>En los siguientes casos no se acepta la participación:
                        <ul>
                            <li>Instituciones municipales o estatales, compañías y organizaciones no comerciales.</li>
                            <li>Personas que participen en el evento sobre el que se realiza la apuesta (jugadores, entrenadores, árbitros u otros).</li>
                            <li>Personas que actúan bajo la influencia del alcohol, drogas o cualquier efecto que les suponga una incompetencia.</li>
                        </ul>
                    </li>
                    
                    <li> El Cliente debe registrar su propia cuenta, con datos reales, correctos y completos. Solo se permite una cuenta por persona, familia, hogar, dirección (postal e IP), correo electrónico, o entorno donde se comparta ordenador y/o dispositivos (ej. Centro de estudio, puestos de trabajo, locutorios o librerías, etc.). Tampoco se permite más de una cuenta por ordenador (o dispositivo de acceso).
                        Tampoco se permite suplantación de identidad de la cuenta. Cualquier otra cuenta que el Cliente abra en relación con los servicios de la compañía será denominada "Cuenta Duplicada". La Casa de Apuesta se reserva el derecho de cerrar cualquier duplicación (pero no está obligada a hacerlo). Si la Casa de Apuestas cierra una Cuenta Duplicada, así como en cualquier cuenta que se demuestre fraudulenta; todos los bonos, apuestas gratis así como las ganancias acumuladas de dichas promociones, obtenidas utilizando las Cuenta Duplicadas serán anuladas y perdidas.
                        La Casa de Apuestas puede, a su entera discreción, anular todas las ganancias y devolver los depósitos (menos las cantidades referentes a las ganancias anuladas o jugadas perdidas) derivadas de la Cuenta Duplicada o fraudulenta y, en caso de quedar saldo negativo, cualquier cantidad a devolver a la Casa de Apuestas respecto a la Cuenta Duplicada o fraudulenta puede ser recuperada directamente desde cualquier cuenta del cliente (incluyendo otras cuentas duplicadas). La Casa de Apuestas puede, a su entera disposición, permitir el uso de una Cuenta Duplicada que se considere válida, en cuyo caso todas las pérdidas y apuestas realizadas por o para
                        Este criterio y regularización es aceptada por el cliente/usuario al momento de registrarse en Inkabet. En caso de que la cuenta se encuentre con saldo cero, la cuenta será cerrada y anulada evitando la realización de pérdidas para lo cual no se realizará devolución alguna. Al aceptar la OPD (Orden de Pago de Devolución) generada por Inkabet luego del proceso de regularización; el usuario acepta las medidas y decisiones tomadas por la Casa de apuestas respecto a su cuenta en base a estos términos y condiciones Por lo tanto, todo reclamo o apelación por ganancias anuladas o debitadas de su cuenta Inkabet quedan inválidas.
                        <ul>
                            <li>
                                IMPORTANTE: La devolución mínima para una OPD es de 23 PEN (siempre y cuando el saldo no haya sido afectado con jugadas). Este monto tiene una comisión de 12 PEN.
                            </li>
                        </ul>
                    </li>

                    <li>El cliente autoriza y otorga a Media Entertainment N.V. por tiempo indefinido, su consentimiento libre, previo, expreso, inequívoco e informado para que (por sí mismo o a través de terceros) recopile, registre, organice, almacene, conserve, elabore, modifique, bloquee, suprima, extraiga, consulte, utilice, transfiera, exporte, importe o procese (trate) sus datos personales, conforme a la Ordenanza Nacional sobre la Protección de Datos Personales de Curazao (Landsverordening bescherming persoonsgegevens) del 04 de septiembre de 2010, vigente desde el 01 de Octubre de 2013 o cualquier otra ley de Curazao que la sustituya o complemente. Asimismo, mediante su aceptación, usted autoriza a Media Entertainment N.V. a elaborar un Banco de Datos con la información proporcionada y a tratar sus datos personales proporcionados mediante el presente registro para enviarle información sobre promociones, descuentos, invitaciones a eventos, realizar encuestas, así como para transferir sus datos personales y compartirlos con terceros exclusivamente para fines de publicidad y prospección comercial, gestión de lista de clientes, gestión económica y contable de clientes, fines estadísticos y cualquier otro que consideremos relevante con el propósito de dar un servicio de atención al cliente de calidad y eficiente. Asimismo, mediante su aceptación, usted autoriza a Media Entertainment N.V. a transferir estos datos al servidor ubicado en Copenhague, Dinamarca, de propiedad de Netgroup S/A, para su almacenamiento. Cualquier solicitud sobre sus datos personales puede ser dirigida al siguiente correo electrónico: info@inkabet.pe, o por escrito a Media Entertainment N.V. a la siguiente dirección física: Emancipatie Boulevard Dominico F. “Don” Martina 29 New Haven E-Zone, Curazao.
                    </li>
                </ul>
                
                <li>
                    VERIFICACIÓN DE IDENTIDAD Y PREVENCIÓN DE FRAUDE
                </li>
                <ul>
                    <li>El Cliente garantiza que i) los datos registrados al abrir la cuenta son correctos; y ii) El Cliente es el propietario de cualquier cantidad de dinero que ingresa en la cuenta.
                    </li>
                    <li>Al aceptar los Términos y Condiciones, el Cliente autoriza a la Casa de Apuestas a llevar a cabo cualquier revisión y verificación periódica, cuando se requiera tanto por la Casa de Apuestas como por tercera partes (incluyendo, pero sin limitarse a, organismos reguladores) para confirmar las verificaciones. El cliente acepta que, periódicamente, bajo la solicitud de la Casa de Apuestas, puede solicitarse que envíe información y documentación en referencia a cualquier dato que el Cliente haya proporcionado a la Casa de Apuestas, incluso en relación a los ingresos realizados en la Cuenta.
                    </li>
                    <li>IMPORTANTE: La Casa de Apuestas se limita a solo aceptar que el usuario maneje un dispositivo para poder jugar en la página. El Área de Auditoría de la empresa puede ordenar la suspensión o cancelación de las cuentas (incluyendo sus saldos y reteniéndolos) cuando ha detectado que se manejan varias cuentas de forma regular en un solo dispositivo. Está condición se interpreta como fraude y/o suplantación de identidades, ya que está además permitida una sola cuenta por IP, dispositivo y usuario. La Casa de Apuestas apela al criterio del cliente y la aceptación de este reglamento, por lo que si se confirma el manejo de un solo dispositivo para más de dos cuentas durante un periodo que estime la Casa auditora matriz, se considerará como cuenta fraude y se reserva el derecho de bloquear todas las cuentas relacionadas o anexadas al dispositivo y cerrarlas sin devolución alguna del saldo.
                    </li>
                    <li>Mientras la Casa de Apuestas está llevando a cabo cualquier revisión periódica, podrá restringirse el ingreso y/o retiro de saldo en la cuenta, así como el acceso a determinadas funciones o productos de la web. Tenga en cuenta que, por motivos de seguridad, regulación etc., la Casa de apuestas puede, periódicamente, volver a revisar cuentas anteriormente verificadas. El cliente puede contactar con la Atención al Usuario en relación a cualquier inconveniente causado por dichas restricciones.
                    </li>
                    <li>En determinadas circunstancias, la Casa de Apuestas deberá solicitará documentación para completar la verificación del registro. Para ello, se podrá solicitar, a discreción de la Casa de Apuestas, el Documento oficial de identificación de residente nacional (que debe estar vigente y legible), Documento oficial de identificación de residente extranjero o pasaporte para la verificación de identidad, así como facturas o recibos para la verificación de los datos de registro, e información de tarjetas de crédito o débito utilizadas para depositar en la cuenta (en ningún caso se solicitará la parte trasera de la tarjeta, donde se encuentra el código de seguridad -CVV). Hasta que dicha documentación haya sido verificada satisfactoriamente, la Casa de Apuestas puede restringir el acceso a la cuenta por parte del Cliente, o bloquear la totalidad o parte del saldo de la cuenta e incluso cerrar la cuenta.</li>
                    <li>El uso de la web por parte de menores puede ser un delito. Si la Casa de Apuestas no puede confirmar que el Cliente es mayor de edad se procederá a bloquear la cuenta. Si posteriormente se prueba que el Cliente utilizó la cuenta sin ser mayor de edad i) la cuenta quedará cerrada; ii) se anularán todas las transacciones realizadas siendo el Cliente menor de edad, y se devolverán los depósitos por el mismo método en el que fueron ingresados, siempre que sea posible, es decir, siempre y cuando exista el saldo necesario en la cuenta del usuario para cubrir los depósitos realizados, de caso contrario la cuenta será suspendida hasta que el usuario cumpla la mayoría de edad iii) el Cliente perderá el derecho a cualquier ganancia obtenida mientras operaba siendo menor de edad (y podrán ser deducidas de la cantidad depositada a devolver, bajo el punto 1.7 del reglamento), y el Cliente devolverá cualquier cobro realizado si se lo requiere.</li>
                </ul>
                
                <li>NOMBRE DE USUARIO, CONTRASEÑA E INFORMACIÓN DEL CLIENTE</li>
                <ul>
                    <li>El Cliente se hace responsable de tener su información personal (correo electrónico, dirección postal, teléfonos, etc.) actualizada en todo momento. Cualquier cambio deberá ser informado a la Casa de Apuestas en el momento de hacerse. La Casa de apuestas puede inhabilitar al usuario si es que ha existido alguna transacción no regularizada afectada por terceros. La Casa de apuestas apela al criterio del usuario cuando ha existido algún error manual en su beneficio.</li>
                    <li>El cliente acepta la responsabilidad completa de mantener su contraseña y datos de su cuenta en secreto. Todas las transacciones confirmadas con el nombre de usuario y contraseña del titular de la cuenta serán válidas y oficiales. La Casa de Apuestas no se hará responsable de ninguna reclamación en el caso de que el Cliente haya revelado información de su cuenta a terceros (ya sea deliberada o accidentalmente).</li>
                    <li>El Cliente se hace responsable de tener su información personal (correo electrónico, dirección postal, teléfonos, etc.) actualizada en todo momento. Cualquier cambio deberá ser informado a la Casa de Apuestas en el momento de hacerse. La Casa de apuestas puede inhabilitar al usuario si es que ha existido alguna transacción no regularizada afectada por terceros. La Casa de apuestas apela al criterio del usuario cuando ha existido algún error manual en su beneficio.</li>
                    <li>El cliente acepta la responsabilidad completa de mantener su contraseña y datos de su cuenta en secreto. Todas las transacciones confirmadas con el nombre de usuario y contraseña del titular de la cuenta serán válidas y oficiales. La Casa de Apuestas no se hará responsable de ninguna reclamación en el caso de que el Cliente haya revelado información de su cuenta a terceros (ya sea deliberada o accidentalmente).</li>
                </ul>

                <li>CAMBIOS EN EL REGLAMENTO Y LOS TÉRMINOS Y CONDICIONES</li>
                <ul>
                    <li>La Casa de Apuestas se reserva el derecho de hacer cualquier cambio o añadir puntos a este reglamento, así como de los procedimientos de pagos dispuestos en el mismo, sin necesidad de notificarlo por escrito previamente. Las apuestas realizadas previamente a un cambio se tratarán con el reglamento previo al cambio y las apuestas aceptadas con fecha posterior al cambio serán tratadas según el reglamento cambiado.</li>
                </ul>

                <li>LA CUENTA DEL CLIENTE</li>
                <ul>
                    <li>La cuenta del cliente no es una cuenta bancaria. No está asegurada, patrocinada o protegida por ningún seguro de entidad financiera o sistemas similares. Cualquier balance de la cuenta no reportará ningún tipo de interés.</li>
                    <li>La Casa de Apuestas podrá, en cualquier momento, compensar una deuda de un cliente con la casa debida (pero no limitada) a cambios en los cierres de las apuestas en acorde a este Reglamento, utilizando saldo positivo de la misma cuenta del cliente (incluyendo Cuentas Duplicadas).</li>
                    <li>La Casa de Apuestas se reserva el derecho de cancelar cualquier apuesta realizada sobre un mercado o cotización evidentemente erróneo (debido, pero no limitado, a errores del sistema informático o errores humanos) o validada tras el inicio de un evento. La Casa de Apuestas se reserva el derecho de cancelar o anular cualquier apuesta realizada o imponer una limitación en la misma.</li>
                    <li>La casa de apuestas no acepta responsabilidades sobre daños o pérdidas causadas por el uso de este sitio o por sus contenidos. Errores en la conexión u otros fallos técnicos no serán razón para cambiar o cancelar una apuesta si ésta ya ha sido registrada en el servidor. Lo mismo sucederá en caso de uso o mal uso de los contenidos de la web por parte de una persona, por la imposibilidad de establecer conexión con la web, indisponibilidad de la web, retraso en el funcionamiento o la transmisión de datos, fallos en las líneas de transacción de datos u otros errores, ya sean de mecanografía o de mantenimiento del sitio.</li>
                    <li>El Cliente debe entender y aceptar que La Casa no puede proveer de asesoramiento legal.</li>
                    <li>Este reglamento entra en vigor el 5 de marzo del 2012 y se aplican a todas las apuestas hechas a partir de dicha fecha, independientemente de si el Cliente tiene conocimiento de que se han efectuado cambios. El reglamento anterior se considera inválido.</li>
                    <li>Todas las apuestas se aceptan únicamente de acuerdo con este Reglamento. La participación en apuestas con la Casa de Apuestas es la confirmación de que el Cliente conoce este reglamento y que lo acepta completamente. Si un Cliente es sospechoso de fraude o manipulación, así como en el caso de violación de estos Términos y Condiciones, la Casa de Apuesta se reserva el derecho de bloquear la cuenta del Cliente y retener su saldo.</li>
                    <li>La Casa de apuestas no es una entidad bancaria, por lo que los usuarios que tengan inactividad por un periodo mayor a 3 años; se puede interpretar como abandono y se tratará en medida de lo posible contactarse con el usuario propietario de la cuenta si tuviera saldo, todo caso procederá a anularle la cuenta. En caso de obtener balance o saldo aun en su cuenta, y se notifica el abandono terrenal del usuario o dueño de la cuenta, se procederá según normas legales a deducir sus fondos y entregarlo a una entidad de caridad.</li>
                    <li>IMPORTANTE: El usuario, al aceptar los términos y condiciones, acepta recibir comunicaciones informándole las actualizaciones en el portal, ofertas y promociones vía mail, teléfono, mensaje de texto (SMS) u otro medio. Sin embargo, el usuario también podrá auto excluirse de recibir comunicaciones publicitarias escribiendo a info@inkabet.pe con el asunto “No publicidad”, indicando su nombre completo, número de usuario, su correo electrónico registrado Inkabet y teléfono para recibir una llamada o mail de confirmación por parte de Inkabet. Las comunicaciones para las llamadas podrán ser grabadas autorizándole a la página el uso de sus declaraciones para eventuales incidencias o reclamos, considerándose parte del proceso de validación y verificación de cuentas para seguridad del usuario y del sitio.</li>
                </ul>                                                                                                    
          
            </ul>
                   

        </div>
        <a class="btn btn-success" href="/">Volver</a>
        <%- include('footer') %>
        <script src="PROYECTO-PW/index.js"></script>
    </body>
</html>